include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include static *
recursive-include src/senaite/collective/exportimport *
recursive-exclude src/senaite/collective/exportimport *.pyc
